<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><title>Register</title></head>
<body>
<div class="container">
  <h2>Create Account</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for m in messages %}<li>{{ m }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Continue</button>
  </form>

  <p>Already registered? <a href="/login">Re-login</a></p>
</div>
</body>
</html>
